$white: #f5f5f5;

.home-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icon {
    fill: $white;
    margin: 50px auto;
}

.home-vector {

}

.contact-icon {
    fill: $white;
}