.profile {
  text-align: center;
  margin: 30px;
}

.profile-image {
  border-radius: 50%;
  width: 60%;
  min-width: 150px;
  max-width: 250px;
}

.profile-text {
  text-decoration: underline;
}

.box {
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  padding: 10px 30px;
  margin: 25px auto;
  border: 2px solid #f5f5f5;
  border-radius: 23px;
}

.box-header {
  text-align: center;
}

.box-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  background-color: #f5f5f5;
  color: #202020;
  width: 100px;
  padding: 10px 20px;
  margin: 15px auto;
  border-radius: 14px;
}

.box-link:hover {
  background-color: #0066ff;
  color: #f5f5f5;
}

.box-label {
  font-weight: 600;
  margin: 0;
}

.box-value {
  margin-top: 5px;
}

.education-images {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.education-image {
  width: 100%;
}

.preferences-images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.preferences-image {
  width: 100%;
}

.skills-images {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.skills-image {
  width: 100%;
}

.contacts-images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.contact-link {
  text-decoration: none;
}

.contact-image {
  width: 100%;
}

.box-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacts-header {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  margin: 20px auto;
  padding: 30px 15px;
  border: 2px solid #f5f5f5;
  border-radius: 23px;
}

.contact-label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.contact-input {
  border-radius: 7px;
  color: #202020;
}

.contact-submission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-submit {
  align-items: flex-end;
  font-weight: 600;
  font-size: 14px;
  background-color: #f5f5f5;
  color: #202020;
  width: 100px;
  padding: 10px 20px;
  border: 0;
  margin: 15px 0;
  border-radius: 14px;
}

.contact-submit:hover {
  background-color: #0066ff;
  color: #f5f5f5;
}

.description-input {
  resize: none;
  height: 200px;
  border-radius: 7px;
  color: #202020;
}

.platforms-box {
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  padding: 10px 30px;
  margin: 25px auto;
  border: 2px solid #f5f5f5;
  border-radius: 23px;
}

.platforms-header {
  text-align: center;
}

.platforms-images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.platform-link {
  text-decoration: none;
}

.platform-image {
  width: 60px;
}

.platform-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.education-header {
  text-align: center;
}

.colleges-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.college-box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  padding: 10px;
  border: 2px solid #f5f5f5;
  border-radius: 23px;
}

.college-image {
  width: 100px;
}

.college-name {
  font-weight: 600;
}

.preferences-header {
  text-align: center;
}

.preferences-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.preference-box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 23px;
}

.preference-image {
  width: 100px;
}

.preference-name {
  font-weight: 600;
  margin: 8px 0;
}

.preference-type {
  font-weight: 600;
  width: fit-content;
  border-radius: 6px;
  background-color: white;
  color: black;
  padding: 2px;
  margin: 0;
}

.skills-header {
  text-align: center;
}

.skill-box {
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  padding: 20px;
  margin: 25px auto;
  border: 2px solid #f5f5f5;
  border-radius: 23px;
}

.skill-header {
  margin: 0 0 10px;
}

.skill-images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  justify-content: left;
  align-items: center;
}

.skill-image {
  width: 50px;
}

@media (min-width: 375px) {
  .skill-images {
    grid-template-columns: auto auto auto auto auto;
  }
}
@media (min-width: 425px) {
  .skill-images {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-text {
  font-weight: 600;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-icon {
  fill: #f5f5f5;
  margin: 50px auto;
}

.contact-icon {
  fill: #f5f5f5;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  color: #f5f5f5;
}

body {
  margin: 0;
  background-color: #202020;
}

/*# sourceMappingURL=App.css.map */
